In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data=pd.read_csv(r'C:\Users\DINESH\Dropbox\PC\Downloads\hostelmenu (2).csv')
data

    sl.no.  month  day  Menu
0        1     12    5     5
1        2     12    6     6
2        3     12    7     7
3        4     12    1     1
4        5     12    2     2
5        6     12    3     3
6        7     12    4     4
7        8     12    5     5
8        9     12    6     6
9       10     12    7     7
10      11     12    1     1
11      12     12    2     2
12      13     12    3     3
13      14     12    4     4
14      15     12    5     5
15      16     12    6     6
16      17     12    7     7
17      18     12    1     1
18      19     12    2     2
19      20     12    3     3
20      21     12    4     4
21      22     12    5     5
22      23     12    6     6
23      24     12    7     7
24      25     12    1     1
25      26     12    2     2
26      27     12    3     3
27      28     12    4     4
28      29     12    5     5
29      30     12    6     6
30      31     12    7     7

In [27]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

In [28]:
x

array([[ 1, 12,  5],
       [ 2, 12,  6],
       [ 3, 12,  7],
       [ 4, 12,  1],
       [ 5, 12,  2],
       [ 6, 12,  3],
       [ 7, 12,  4],
       [ 8, 12,  5],
       [ 9, 12,  6],
       [10, 12,  7],
       [11, 12,  1],
       [12, 12,  2],
       [13, 12,  3],
       [14, 12,  4],
       [15, 12,  5],
       [16, 12,  6],
       [17, 12,  7],
       [18, 12,  1],
       [19, 12,  2],
       [20, 12,  3],
       [21, 12,  4],
       [22, 12,  5],
       [23, 12,  6],
       [24, 12,  7],
       [25, 12,  1],
       [26, 12,  2],
       [27, 12,  3],
       [28, 12,  4],
       [29, 12,  5],
       [30, 12,  6],
       [31, 12,  7]], dtype=int64)

In [29]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [30]:
model.fit(x,y)

LinearRegression()

In [31]:
z=[[28,1,2]]
g=int(model.predict(z))
g

2

In [32]:
if(g==1):
    print("Idly is the food")
elif(g==2):
    print("Chappati is the food")
elif(g==3):
    print("Uppuma is the food")
elif(g==4):
    print("Biriyani is the food")
elif(g==5):
    print("Pongal is the food")
elif(g==6):
    print("Poori is the food")
else:
    print("Doosa is the food")

Chappati is the food